.footer {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 92px auto 0;
    padding-bottom: 24px;
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .footer {
        margin: 92px 24px 0;
    }
}

@media (max-width: 751px) {
    .footer {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        margin: 64px 16px 0;
    }
}